{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Cisco Lab Demo</h1>
</div>
    <div id="sliderFrame">
        <div id="slider">
            <img src="/static/img/image-slider-1.jpg" alt="Never Give up" />
            <img src="/static/img/image-slider-2.jpg" alt="You can do it" />
            <img src="/static/img/image-slider-3.jpg" alt="Up High" />
            <img src="/static/img/image-slider-4.jpg" alt="ENG Innovation" />
            <img src="/static/img/image-slider-5.jpg" alt="Master lies in you" />
        </div>
{% endblock %}
