{% extends 'layouts/main.html' %}
{% block title %}Availble Resources{% endblock %}
{% block content %}
<!-- <script type=text/javascript>
    $(function() {
      $("#select_an_option").bind('onchange', function() {
	  alert(0);
    var selectIndex = document.getElementById('select_an_option').selectedIndex ;
    var selectedValue = document.getElementById('select_an_option').options[selectIndex].value;
    alert(1);
        $.getJSON('/_update_reserved_demo', {
		myvalue: selectedValue  
        }, function(data) {
//        $("#result").text(data.result);
			alert("success");
        });
        return false;
      });
    });
  </script>   --> 
 <script type=text/javascript>
 $(function() {
    $("#select_an_option").onchange(function() {
 		alert(1);
    	 selectIndex = document.getElementById('select_an_option').selectedIndex ;
	     selectedValue = document.getElementById('select_an_option').options[selectIndex].value;
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/_update_reserved_demo/",
            contentType: "application/xml; charset=utf-8",
            data: { echoValue:selectedValue },
            success: function(data) {
//                $('#echoResult').text(data.value);
					alert("success");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });    
    });
  });
</script>
<div class="page-header">
  <h1>Availabe Demos that are reserved by you</h1>
</div>
<div class="data-grid">
<table class="datagrid">
		<tr>
			<td>
				<table border="1"> 
					<tr class="alt">
						<td style="background: #e2e4e7;"> 
							Demo Set Name 
						</td> 
						<td style="background: #e2e4e7;">	
							<select>
								  <option value="volvo">Volvo</option>
								  <option value="saab">Saab</option>
								  <option value="mercedes">Mercedes</option>
								  <option value="audi">Audi</option>
							</select> 	
						</td>
					</tr>
					<tr>
						<td>
							Description
						</td>
						<td>
								<textarea rows="4" cols="50">This textarea will give you a brief detail of all the info of the devices 
								</textarea>
						</td>
					</tr>
					<tr class="alt">
						<td>
							Device Details	
						</td>
						<td>
								<textarea rows="4" cols="50">This textarea will give you a brief detail of all the info of the devices 
								</textarea>
						</td>
					</tr>

				</table>
			
			</td>
			<td>		
					Pictures There would be image coming here 
			</td>

		</tr>
		<tr>
			<td>
				
					<button type="submit">Reserved !</button> 
			</td>
			<td>
				A calender widget needs to come here , date and time ,and shall reserve the database for an hour 	
			</td>
		</tr>
</table>
</div>
<table>

	 		{% for o in demo_details %}
        <tr> 
        <td width="300px">{{ o.demo_name }}</td>
        <td width="100px">{{ o.description }}</td>
        <td width="50px">{{ o.device_details }}</td>
		</tr>
		  {%endfor%}
</table>

{% endblock %}
