{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Cisco Lab Demo</h1>
</div>
    <div id="sliderFrame">
        <div id="slider">
            <img src="/static/img/image-slider-1.jpg" alt="Caption for /static/img/image-slider 1" />
            <img src="/static/img/image-slider-2.jpg" />
            <a href="http://menucool.com"><img src="/static/img/image-slider-3.jpg" /></a>
            <img src="/static/img/image-slider-4.jpg" />
            <img src="/static/img/image-slider-5.jpg" alt="Caption for /static/img/image-slider 5" />
        </div>
{% endblock %}
