{% extends 'layouts/main.html' %}
{% block title %}Availble Resources{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Availabe Demos that are reserved by you</h1>
</div>
<div class="data-grid">
<table class="datagrid">
		<tr>
			<td>
				<table border="1"> 
					<tr class="alt">
						<td class="column-grid" style="background: #e2e4e7;"> 
							Demo Set Name 
						</td> 
						<td style="background: #e2e4e7;">	
							<select id="selectoption">
								  <option id="select_a_demo" >Select a Demo</option>
								  {% for demo in  demo_details_names %}
								  <option value={{demo.demo_name}} id={{demo.demo_name }}>{{demo.demo_name}}</option>
								  {% endfor %}
							</select> 	
						</td>
					</tr>
					<tr class="alt">
						<td>
							Description
						</td>
						<td>
								<textarea rows="5" cols="80" readonly id="description_area" disabled >
								Please select perticular demo name to get the details
								</textarea>
						</td>
					</tr>
					<tr class="alt">
						<td>
							Device Details	
						</td>
						<td>
								<textarea rows="5" cols="80" readonly id="device_details_area" disabled >
								Please select perticular demo name to get the details
								</textarea>
						</td>
					</tr>

				</table>
			
			</td>
			<td style="background: #e2e4e7" >		
					Pictures There would be image coming here 
			</td>

		</tr>
		<tr>
			<td style="background: #e2e4e7" colspan=2 align="center">
				
					<button type="button" id="demo_reserve">Reserved</button> 
                	<input id="datetimepicker" type="text" /> 
			</td>
		</tr>
</table>
</div>
<table>

	 		{% for o in demo_details %}
        <tr> 
        <td width="300px">{{ o.demo_name }}</td>
        <td width="100px">{{ o.description }}</td>
        <td width="50px">{{ o.device_details }}</td>
		</tr>
		  {%endfor%}
</table>
 <script type=text/javascript>
jQuery('#datetimepicker').datetimepicker();
 $(document).ready(function() {
   $("#selectoption").change(function() {
   	 selectIndex = document.getElementById('selectoption').selectedIndex ;
        selectedValue = document.getElementById('selectoption').options[selectIndex].value;
        $.ajax({
           type: "GET",
           url:"/update_reserved_demo/",
           contentType: "application/xml; charset=utf-8",
           data: { echoValue:selectedValue },
           success: function(data) {
				$('#description_area').val(data[0].description);
				$('#device_details_area').val(data[0].device_details);
				if (data[0].demo_status == 1){
					$('#demo_reserve').attr('disabled','disabled');
	
				}else{
					$('#demo_reserve').removeAttr('disabled')
				}
           },
           error: function(jqXHR, textStatus, errorThrown) {
               alert(errorThrown);
           }
       });    
   });
});



$(document).ready(function() {
   $('#demo_reserve').click(function(){
		var value = $('#selectoption').val();
   	$.ajax({
		type: "GET",
		url:"/reserve_the_demo/",
		contentType: "application/xml; charset =utf-8",
		data : {selectedvalue:value }, 
		success: function(data) {
			window.location='/about' 
			alert('Successfully Reserved');
		},
		error:function(jqXHR,textStatus,errorThrown){
			alert(errorThrown);
		}
	});
  });
});
</script>
{% endblock %}
