{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Detailed view of what has been allocated</h1>
</div>
<div>
<table  style="width:300px"  border="1"  >
	<tr>
			<th> User </th>
			<th> Demo Name  </th>
			<th> Description </th>
			<th> Duration </th>
	</tr>
<!--	<% for data in @datas %> -->
	 	<tr> 
			<td>
			  Karthik
			</td> 
			<td>
			 Demo Center 1
			</td> 
			<td> 
			 Demo Description
			</td> 
			<td>
				Duration
			</td>
		</tr>
		</tr>
		</tr>
</table>
</div>
{% endblock %}
