{% extends 'layouts/main.html' %}
{% block title %}Availble Resources{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Availabe Demos that are reserved by you</h1>
</div>

<table class="nice-table-1">
		<tr>
			<td>
				<table border="1"> 
					<tr>
						<td style="background: #e2e4e7;"> 
							Demo Set Name 
						</td> 
						<td style="background: #e2e4e7;">	
							<select>
								  <option value="volvo">Volvo</option>
								  <option value="saab">Saab</option>
								  <option value="mercedes">Mercedes</option>
								  <option value="audi">Audi</option>
							</select> 	
						</td>
					</tr>
					<tr>
						<td>
							Description
						</td>
						<td>
								<textarea rows="4" cols="50">This textarea will give you a brief detail of all the info of the devices 
								</textarea>
						</td>
					</tr>
					<tr>
						<td>
							Device Details	
						</td>
						<td>
								<textarea rows="4" cols="50">This textarea will give you a brief detail of all the info of the devices 
								</textarea>
						</td>
					</tr>

				</table>
			
			</td>
			<td>		
					Pictures There would be image coming here 
			</td>

		</tr>
		<tr>
			<td>
				
					<button type="submit">Reserved !</button> 
			</td>
			<td>
				A calender widget needs to come here , date and time ,and shall reserve the database for an hour 	
			</td>
		</tr>
</table>
<table>

	 		{% for o in demo_details %}
        <tr> 
        <td width="300px">{{ o.demo_name }}</td>
        <td width="100px">{{ o.description }}</td>
        <td width="50px">{{ o.device_details }}</td>
		</tr>
		  {%endfor%}
</table>

{% endblock %}
