{% extends 'layouts/main.html' %} {% block title %}Log details{% endblock %} {% block content %}

<div class="page-header">
    <h1>Detailed view of what has been allocated</h1>
</div>
<div class="datagrid">
    <table class="datagrid" border="1" width="300px" height="100px" align="center">
        <thead>
            <tr style="background:#e2e5e7;" height="20px" >
                <th>User</th>
                <th>Demo Name</th>
                <th>Status</th>
                <th>Reserved Date</th>
            </tr>
        </thead>
        <tbody>
            	{% for data in lab_history_details %}
            <tr>
                <td>
					{{ data.userid }}
                </td>
                <td>
					{{ data.demoname }}
                </td>
                <td>
					{% if(data.status ==1)%}
						Reserved 
					{% else %}
						Availble
					{%endif%}
                </td>
                <td>
					{{ data.booked_time }}
                </td>
            </tr>
			{%endfor %}
            </tr>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
